*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url('https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25');
}

/* regole generali di struttura */

#wrapper::after{
  content: "";
  display: table;
  clear: both;
}


.fixed-left{
  float: left;
  width: 400px;
  height: 100vh;
}

.main-content{
  float: left;
  width: calc(100% - 400px);
  height: 100vh;
}


/* regole main content */

.main-content::after{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nome-chat-fixed{
  position: fixed;
  width: calc(100% - 400px);
  height: 70px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.icon-chat{
  position: relative;
  width: 8%;
  height: auto;
  margin: 2% 2%;
  border-radius: 27px;
  background-color: white;
}


.nome-chat{
  position: absolute;
  top: 24%;
  left: 8%;
  font-weight: bold;

}

.nome-chat article{
  color: grey;
}

.ultimo-accesso{
  position: absolute;
  top: 50%;
  left: 8%;
}

.cerca-allega{
  width: 10%;
}


.cerca-allega i{
  color: grey;
  margin-right: 18%;
}


.messaggi{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 90px;
}

.scrivi-messaggio{
  position: fixed;
  width: calc(100% - 400px);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  border-left: 1px solid lightgrey;
}

.scrivi-messaggio > input{
  width: 90%;
  height: 30px;
  padding-left: 2%;
  border-style: none;
  border-radius: 20px;
}

.scrivi-messaggio i{
  margin: 0 3%;
  color: grey;
}

/* .row::after{
  content: "";
  display: table;
  clear: both;
}

.template{
  display: none;
} */

.right-messages{
  float: right;
}


.message-sent{
  align-self: flex-end;
  width: 15%;
  text-align: center;
  margin-top: 2%;
  margin-right: 2%;
  padding: 2% 2%;
  border-radius: 10px;
  background-color: #07bc4c;
}



.message-received{
  width: 15%;
  text-align: center;
  margin-top: 2%;
  margin-left: 2%;
  padding: 2% 2%;
  border-radius: 10px;
  background-color: #ccc;
}

.message-time{
  display: block;
  text-align: right;
  font-weight: lighter;
  font-size: 11px;
}

.orario-accesso{
  position: absolute;
  right: 20px;

}

.message-panel{
  display: none;
}


#invia{
  padding: 1% 1%;
  margin-left: 2%;
  background-color: #07bc4c;
  border-style: none;
  border-radius: 5px;
}


/* regole barra sinistra */

 .barra-sinistra-fissa{
  position: fixed;
  height: 175px;
  width: 400px;
  z-index: 99;
}

.fixed-left{
  position: relative;
}

.home-fixed{
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  z-index: 99;
  border-right: 1px solid lightgrey;
}

.icon-barra-sinistra{
  width: 35%;
}

.icon-barra-sinistra i{
  margin: 0 9%;
  color: grey;
}

.icona-personale img{
  width: 13%;
  height: auto;
  margin: 2% 2%;
  border-radius: 27px;
  background-color: white;
}

.ricevi-notifiche{
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #9de1fe;
}

.ricevi-notifiche span{
  margin: 3%;
}

.ricevi-notifiche i{
  font-size: 2rem;
  color: #9de1fe;
  background-color: white;
  border-radius: 35px;
  padding: 15% 5%;
}

.ricevi-notifiche a{
  color: grey;
}


.nuova-chat{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  background-color: #f1f1f1;
}

.nuova-chat input{
  width: 90%;
  height: 30px;
  border-style: none;
}

.nuova-chat i{
  color: grey;
  background-color: white;
  padding: 1.75% 3%;
}

.chat-recenti::after{
  content: "";
  display: table;
  clear: both;
}

.orario{
  float: right;
}

.chat-recenti{
  position: absolute;
  top: 175px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-recenti img{
  width: 13%;
  height: auto;
  margin: 2% 2%;
  border-radius: 27px;
  background-color: white;
}


.chat-recenti li{
  display: flex;
  align-items: center;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.chat-recenti li:hover{
  background-color: lightgrey;
}

li.active{
  background-color: purple;
}

.container-messaggi{
  display: none;
}

.container-messaggi.active{
  display: block;
}
